README.html
README.sublime-workspace
.benchmarks/
.pytest_cache/
.tox/
_build/
build/
dist/
histopathTDA.egg-info/
tests/__pycache__/
tests/.coverage
./*/__pycache__/
__pycache__/
histopathTDA/__pycache__/
settings.json
.projectile
.vscode
.pyc
.idea/
playground/
condaenv.*
