README.html
README.sublime-workspace
.benchmarks/
.pytest_cache/
.tox/
_build/
build/
dist/
histopathTDA.egg-info/
tests/__pycache__/
tests/.coverage
./*/__pycache__/
__pycache__/
histopathTDA/__pycache__/
settings.json
.projectile
.vscode
.pyc
.idea/
playground/
condaenv.*

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out